body{
    background-color: #0E0E0E;
    font-family: 'Roboto', arial;
    text-align: center;
}
#container{
    width: 80%;
    margin-left: 10%;
}
button{
    border-radius: 5px;
    background-color: #3B82F6;
    color: aliceblue;
    border: 1px solid white;

}
img{
    border-radius: 20px;
}
.header{
height: 40px;
background-color: #1F2937;
display: flex;
color: aliceblue;
align-items: center;
}
.logo{
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2vw;
    flex-grow: 1;
}
.top-menu{
    flex-grow: 1;
    padding-right: 20px;
    font-size: 1vw;
}

.top-menu a{
    padding-right: 20px;
    text-decoration: none;
    font-family: 'Roboto','arial';
    
}
.slider-section{
    display: flex;
    flex: 1 1 auto;
    min-height: 30vw;
    justify-content: space-around;
    color: aliceblue;
    background-color:#1F2937 ;
    align-items: center;
    
}
.slider-left-part{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 4vw;
    
}
.slider-right-part{
   
    flex-grow: 1;
    width: 70vw;
    height: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.slider-right-part img{
    width: 60%;
    height: 60%;
}
.slider-left-part button{
    width: max-content;
    background-color: blue;
    
}
.photos-section{
    background-color: #ffff;
    height: 25vw;
}
.images-header{
   text-align: center;
    color: #202A38;
    margin: 0;
}
.images-header h2{
    margin: 0;
}
.images-part{
    display: flex;
    margin-left: 2vw;
    height: 20vw;
}
.images-part .images{
    height: 80%;
    width: 80%;
}
.images-part .images img{
    height: 50%;
    border: 2pt solid blue;
}
.text-section{
    height: 20vw;
    background-color:#E5E7EB ;
    color: #0E0E0E;
    margin-top: 0;
    border: px dashed red;
}
.text-section p{
    text-align: center;
    padding: 2vw;
    margin: 0;
}
.signUp-section{
    height: 20vw;
    background-color: aliceblue;
    align-content: center;
    display: flex;
    align-items: center;
}
.call-part{
    margin: 0 4vw 0 4vw;
    background-color:#3B82F6;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    border-radius: 25px;   
}
.footer{
    height: 7vw;
    text-align: center;
    color: aliceblue;
    background-color: #0E0E0E;
   
}
